/* body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    border:  1px solid black;
}

.head1 {
    margin-bottom: 20px;
}

.head2 {
    margin-top: 40px;
}

span {
    border: 1px solid black;
    background-color: pink;   
}

.span1 {
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.span2 {
    margin-left: 20px;
    padding: 5px;
} */

.left>div,
.right>div {
    border: 3px solid black;
}

.right {
    display: inline-block;
}

.left {
    display: inline-block;
}

.box1 {
    padding: 40px;
    width: 380px;
    border: 3px solid black;
    background-color: rgb(18, 78, 78);
}

.item1 {
    width: 80px;
    height: 70px;
    background-color: red;
    margin-bottom: 40px;
    margin-right: 40px;
}

.item3 {
    width: 80px;
    height: 180px;
    background-color: blue;
    margin-right: 40px;
}

.item2 {
    width: 240px;
    height: 180px;
    background-color: green;
    margin-bottom: 40px;
    /* margin-top: -150px;
    margin-left: 170px; */
    vertical-align: top;
}

.item4 {
    width: 240px;
    height: 70px;
    background-color: gold;
}